.site {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-template-areas: 
    "header header header"
    "project project project"
}

@media (max-width: 1080px) {
  .site {
    justify-items: center;
     grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'project project';
  }
}
@media (max-width: 700px) {
  .site {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header '
      'project ';
  }
}
.mast-head {
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "yoan header-image"
}

.header-image {
  grid-area: header-image
}

.projects-heading{
  grid-area: project
}

.project {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}


